body{
    background-color: sandybrown;
    font-family: 'Times New Roman', Times, serif;
}

img {
    max-width: 500px;
    max-height: 500px;
}

.description {
    max-height: 500px;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.directions{
    max-height: 500px;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
}